body {
  background-color: beige;
}
.card {
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 -2px 10px 0 rgba(91, 12, 3, 0.751);
}
.card-img-top {
  height: 232px;
}
.card-body {
  background-color: #f8fbff;
}
.players-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}
.card-title,
.card-text {
  text-align: center;
  color: black;
  text-align: center;
  padding: 0px;
  text-decoration: underline;
}
